<head>
<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

    <script src="jquery/dist/jquery.slim.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="javascripts/script.js"></script>

<!-- footer -->



<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-8 navbar-text">Copyright &copy;&nbsp;2021 Ophni R. Brice - Portfolio Site</h6>
    </nav>
  </footer>


